.Button {
    background-color: transparent;
    cursor: pointer;
    min-height: 25px;
    font-size: 16px;
    font-weight: 500;
    text-shadow: .5px .5px 1px white;
}

@keyframes ButtonAnimation {
    0% {
        color: white;
        text-shadow: .5px .5px 1px white;
    }
    100% {
        color: var(--foursys-orange);
        text-shadow: none;
    }
}

.Button:hover {
    animation: forwards ButtonAnimation .5s;
}