.Button {
    background-color: transparent;
    cursor: pointer;
    min-height: 25px;
    font-size: 16px;
    font-weight: 500;
    text-shadow: .5px .5px 1px white;
}

.Button:hover {
    animation: forwards FadeIn .5s;
}