.Page3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Page3 h2 {
    font-size: 55px;
    font-weight: 350;
    margin-bottom: 3rem;
    margin-left: 1rem;
}

.Page3 .header {
    margin-bottom: 2rem;
}

.Page3 .container {
    width: 89%;
}

.Page3 .container .header {
    display: flex;
}

.Page3 .container .header p {
    font-size: 25px;
}

.Page3 .container .header h2 {
    text-align: left;
    width: 50%;
}

.Page3 .container .desafio {
    width: 100%;
    background-color: white;
    margin-bottom: 3rem;
    padding-block: 3rem;
}

.Page3 .container .desafio p {
    margin-left: 5%;
    width: 80%;
    color: var(--foursys-blue);
    font-size: 20px;
}

.Page3 .container .desafio img {
    display: flex;
    width: 50%;
    height: 50%;
    object-fit: cover;
    overflow: visible;
}

.Page3 .container .desafio .spin {
    animation: spin infinite 20s linear;
}