.Page1  {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}
.Page1 p {
    margin-bottom: 1rem;
    width: 60%;
    line-height: 25px;
}

.Page1 p a {
    text-decoration: none;
}