@font-face {
  font-family: "Nunito";
  src: url("assets\\fonts\\Nunito-VariableFont_wght.ttf");
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: 'Nunito';
  color: white;
  border: none;
  margin: 0;
  padding: 0;
}

html, body, #root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--foursys-blue);
}

:root {
  --foursys-blue: #1C1C38;
  --foursys-orange: #FF4901;
}