@keyframes FadeIn {
    0% {
        color: white;
        text-shadow: .5px .5px 1px white;
    }
    100% {
        color: var(--foreground);
        text-shadow: none;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}