.Nav {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 96.1%;
    padding-top: 1.8rem;
    padding-left: 3.5%;
    padding-bottom: 4rem;
    max-height: 4rem;
}

.Nav .topics {
    display: flex;
    align-items: start;
    justify-content: space-between;
}
  
.Nav .foursys_logo {
    width: 156px;
}
  
.Nav .Button {
    margin-top: .9rem;
    margin-left: 1rem;
}
  
.Nav .contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 10%;
}
  
.Nav .contacts a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
}
  
.Nav .contacts a:hover {
    color: var(--foreground);
    animation: forwards FadeIn .5s;
}