.Page2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Page2 h2 {
    font-size: 55px;
    font-weight: 350;
    margin-bottom: 3rem;
}

.Page2 .TableTitle {
    padding-top: .1rem;
    border-top: 1px solid white;
    text-align: center;
    font-size: 25px;
}

.Page2 .TableTitle h3 {
    font-weight: normal;
}